* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0 !important;
  border: 0;
}

.floatDiv {
  z-index: 9999;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
}

.floatBtn {
  border-radius: 5px;
  border-color: transparent;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #011a53;
  opacity: 0.8;
  color: white;
}

.popupDiv {
  z-index: 9999;
  transition: all 150ms;
  float: top;
  position: fixed;
  width: 500px;
  height: 450px;
  bottom: 105px;
  right: 40px;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid #f2f2f2;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* -------- */

.popupNav {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
}

.popupX,
.todoX {
  align-self: flex-end;

  padding: 6px 8px;

  background-color: #ededed;
  color: red;

  border-radius: 0.25em;
  cursor: pointer;
}

.todoX {
  padding: 2px 4px;
}

.popupContent {
  flex: 1 1 0%;
  overflow-y: scroll;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.assignmentsUl {
  display: flex;
  flex-direction: column;

  gap: 0.3em;
}

.assignmentsLi {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 0.3em;
  padding: 0.25em 0.4em;

  border: 1px solid #f2f2f2;
  border-radius: 0.25em;
}

.todoContent {
  flex: 1;
}

.todoX {
  align-self: center;
}

.addTodoForm {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.addTodoInput {
  flex: 1;
}

.popupX,
.addTodoBtn,
.addTodoInput {
  border-radius: 0.25rem;

  padding-left: 0.75rem; /* 12px */
  padding-right: 0.75rem;
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem;

  background-color: #f2f2f2;

  transition: all 0.15s;
}

.popupX:hover,
.todoX:hover {
  --tw-ring-inset: ;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0/0.1), 0 1px 2px -1px rgb(0 0 0/0.1);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 0px #fff;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 3px rgba(238, 51, 51, 0.5);

  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
  background-color: rgba(238, 51, 51);
  color: #fff;
}

.addTodoBtn:hover {
  background-color: rgba(51, 170, 238);
  color: #fff;
}

.addTodoBtn:focus,
.addTodoInput:focus {
  --tw-ring-inset: ;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0/0.1), 0 1px 2px -1px rgb(0 0 0/0.1);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 0px #fff;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 3px rgba(51, 170, 238, 0.5);

  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}
