* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0 !important;
  border: 0;
}

.c_b65151 {
  background-color: #b65151 !important;
}
.c_d53383 {
  background-color: #d53383 !important;
}
.c_ba0665 {
  background-color: #ba0665 !important;
}
.c_de1934 {
  background-color: #de1934 !important;
}
.c_bc0f0f {
  background-color: #bc0f0f !important;
}
.c_670033 {
  background-color: #670033 !important;
}
.c_b06216 {
  background-color: #b06216 !important;
}
.c_844b15 {
  background-color: #844b15 !important;
}
.c_6f5b27 {
  background-color: #6f5b27 !important;
}
.c_687e34 {
  background-color: #687e34 !important;
}
.c_4a831c {
  background-color: #4a831c !important;
}
.c_006400 {
  background-color: #006400 !important;
}
.c_008850 {
  background-color: #008850 !important;
}
.c_0c808b {
  background-color: #0c808b !important;
}
.c_1a78d3 {
  background-color: #1a78d3 !important;
}
.c_0352ea {
  background-color: #0352ea !important;
}
.c_2525bf {
  background-color: #2525bf !important;
}
.c_09367f {
  background-color: #09367f !important;
}
.c_9e02fe {
  background-color: #9e02fe !important;
}
.c_800080 {
  background-color: #800080 !important;
}
.c_5f2782 {
  background-color: #5f2782 !important;
}
.c_777777 {
  background-color: #777777 !important;
}
.c_52515d {
  background-color: #52515d !important;
}
.c_222222 {
  background-color: #222222 !important;
}
.c_white {
  background-color: #f2f2f2 !important;
}

.floatDiv {
  z-index: 9998;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
}

.floatBtn {
  border-radius: 0.3em;
  border-color: transparent;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #011a53;
  opacity: 0.8;
  color: white;
}

.popupDiv {
  z-index: 9998;
  transition: all 150ms;
  float: top;
  position: fixed;
  width: 500px;
  height: 475px;
  bottom: 105px;
  right: 40px;
  padding: 5px;
  background-color: white;
  border-radius: 0.3em;
  border: 2px solid #f2f2f2;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* -------- */

.popupNav {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
}

.popupX,
.todoX,
.AssignLink,
.colorPickerBtn {
  align-self: flex-end;

  background-color: #ededed;

  border-radius: 0.3em;
  cursor: pointer;
}

.popupX {
  color: red;
  padding: 6px 8px;
}

.todoX {
  color: red;
  padding: 7px 8px;
}

.AssignLink {
  padding: 6px 8px;
}

.colorPickerBtn {
  font-size: 1.2em;
}

.popupContent {
  flex: 1 1 0%;
  overflow-y: scroll;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.assignmentsUl {
  display: flex;
  flex-direction: column;

  gap: 0.3em;
}

.assignmentsLi {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 0.5em;
  padding: 0.3em 0.5em;

  border: 1px solid #f2f2f2;
  border-radius: 0.3em;
}

.todoContents {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.4em;
}

.todoContent {
  font-size: 1.1em;
  font-weight: bold;
}

.todoDate {
  font-size: 0.875em;
}

.todoX,
.AssignLink {
  align-self: center;
}

.addTodoForm {
  display: flex;
  flex-direction: row;
  gap: 0.2em;
}

.loadAssignsForm {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.changeTodoForm,
.addTodoInput,
.loadAssignsInput {
  flex:1;
}

.colorPickerPopup {
  border-radius: 0.25rem;
  transition: all 150ms;
  display: none;
  z-index: 9999;
  width: 140px;
  height: 100px;

  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  position: absolute;
  background-color: #ededed;
  bottom: 7rem;
  left: 14rem;

  transition: all 0.5s;

  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  gap: 3px;
}

.colorElement {
  flex: none;

  border-style: solid;
  border-radius: 0.25rem;
  border-color: #000;
  border-width: 0.01rem;

  width: 15px;
  height: 15px;

  cursor: pointer;
}

.popupX,
.addTodoBtn,
.loadAssignsBtn,
.addTodoInput,
.colorPickerBtn,
.todoDateInput {
  border-radius: 0.25rem;

  padding-left: 0.75rem; /* 12px */
  padding-right: 0.75rem;
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem;

  background-color: #ededed;

  transition: all 0.15s;
  cursor: pointer;
}

.addTodoInput {
  cursor: text;
}

.colorPickerBtn {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.4rem;
  padding-bottom: 0.6rem;
}

.popupX:hover{
  --tw-ring-inset: ;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0/0.1), 0 1px 2px -1px rgb(0 0 0/0.1);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 0px #fff;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 3px rgba(238, 51, 51, 0.5);

  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
  background-color: rgba(238, 51, 51);
  color: #fff;
}

.todoX:hover {
  background-color: rgba(238, 51, 51);
  color: #fff;
}

.addTodoBtn:hover,
.loadAssignsBtn:hover,
.AssignLink:hover,
.colorPickerBtn:hover {
  background-color: rgba(51, 170, 238);
  color: #fff;
}

.addTodoBtn:focus,
.addTodoInput:focus {
  --tw-ring-inset: ;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0/0.1), 0 1px 2px -1px rgb(0 0 0/0.1);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 0px #fff;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 3px rgba(51, 170, 238, 0.5);

  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}
