* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0 !important;
  border: 0;
}

.red {
  background-color: #ff8a80 !important;
}
.pink {
  background-color: #ff80ab !important;
}
.lime {
  background-color: #f4ff81 !important;
}
.yellow {
  background-color: #ffff8d !important;
}
.amber {
  background-color: #ffe57f !important;
}
.orange {
  background-color: #ffd180 !important;
}
.deep-orange {
  background-color: #ff9e80 !important;
}
.green {
  background-color: #b9f6ca !important;
}
.light-green {
  background-color: #ccff90 !important;
}
.teal {
  background-color: #a7ffeb !important;
}
.cyan {
  background-color: #84ffff !important;
}
.blue {
  background-color: #82b1ff !important;
}
.light-blue {
  background-color: #80d8ff !important;
}
.indigo {
  background-color: #8c9eff !important;
}
.purple {
  background-color: #ea80fc !important;
}
.deep-purple {
  background-color: #b388ff !important;
}
.white {
  background-color: #f2f2f2 !important;
}

.floatDiv {
  z-index: 9999;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
}

.floatBtn {
  border-radius: 0.3em;
  border-color: transparent;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #011a53;
  opacity: 0.8;
  color: white;
}

.popupDiv {
  z-index: 9999;
  transition: all 150ms;
  float: top;
  position: fixed;
  width: 500px;
  height: 475px;
  bottom: 105px;
  right: 40px;
  padding: 5px;
  background-color: white;
  border-radius: 0.3em;
  border: 2px solid #f2f2f2;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* -------- */

.popupNav {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
}

.popupX,
.todoX {
  align-self: flex-end;

  padding: 6px 8px;

  background-color: #ededed;
  color: red;

  border-radius: 0.3em;
  cursor: pointer;
}

.todoX {
  padding: 2px 4px;
}

.popupContent {
  flex: 1 1 0%;
  overflow-y: scroll;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.assignmentsUl {
  display: flex;
  flex-direction: column;

  gap: 0.3em;
}

.assignmentsLi {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 0.5em;
  padding: 0.3em 0.5em;

  border: 1px solid #f2f2f2;
  border-radius: 0.3em;
}

.todoContents {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.4em;
}

.todoContent {
  font-size: 1.1em;
  font-weight: bold;
}

.todoDate {
  font-size: 0.875em;
}

.todoX {
  align-self: center;
}

.addTodoForm {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.loadAssignsForm {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.addTodoInput {
  flex: 1;
}

.loadAssignsInput {
  flex: 1;
}

.popupX,
.addTodoBtn,
.loadAssignsBtn,
.addTodoInput {
  border-radius: 0.25rem;

  padding-left: 0.75rem; /* 12px */
  padding-right: 0.75rem;
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem;

  background-color: #f2f2f2;

  transition: all 0.15s;
}

.popupX:hover,
.todoX:hover {
  --tw-ring-inset: ;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0/0.1), 0 1px 2px -1px rgb(0 0 0/0.1);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 0px #fff;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 3px rgba(238, 51, 51, 0.5);

  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
  background-color: rgba(238, 51, 51);
  color: #fff;
}

.addTodoBtn:hover,
.loadAssignsBtn:hover {
  background-color: rgba(51, 170, 238);
  color: #fff;
}

.addTodoBtn:focus,
.addTodoInput:focus {
  --tw-ring-inset: ;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0/0.1), 0 1px 2px -1px rgb(0 0 0/0.1);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 0px #fff;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 3px rgba(51, 170, 238, 0.5);

  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}
