 #container {
     text-align: center;
     font-size: 12px;
     vertical-align: middle;
 }
 
 table {
     white-space: pre-line;
     margin: 0;
     padding: 0;
     color: #666;
     font-family: "맑은 고딕", 돋움, tahoma;
     font-size: 11px;
     letter-spacing: -0.5px;
     display: block;
     width: 100%;
 }
 /* #lecture {
     position: absolute;
 } */
 /*
 #lecturetime {
     position: absolute;
 } */
 
 td {
     white-space: pre-line;
     border-left: 1px solid #000000;
     min-width: 68px;
     border-top-left-radius: 12%;
     border-top-right-radius: 12%;
 }
 
 tr,
 th {
     white-space: pre-line;
     border-bottom: 1px solid #000000;
     padding: 5px;
     vertical-align: middle;
     text-align: center;
     width: 70px;
     /* or whatever width you want. */
     max-width: 70px;
 }
 
 i {
     width: 16px;
     /* or whatever width you want. */
     max-width: 16px;
     height: 16px;
     /* or whatever width you want. */
     max-height: 16px;
     /* or whatever width you want. */
     display: inline-block;
 }
 
 .button {
     background-color: #4CAF50;
     /* Green */
     color: white;
     padding: 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 12px;
     margin: 4px 2px;
     cursor: pointer;
 }
 
 #btn_option_popup {
     display: inline-block;
     line-height: normal;
     vertical-align: middle;
     border-radius: 12px;
 }
 
 .Collab_btn {
     vertical-align: middle;
     border-radius: 12px;
 }